h1 {
	text-align: center;
	margin: 20px;
	color: #2B5C89;
}

h3 {
	color: #2B5C89;
	text-align: center;
}

p {
	margin: 10px;
}


.header {
	text-align: center;
}

.jumbotron {
	background-color: #e6e6e6;
	padding: 10px
}

#mapdiv {
	width: 100%; 
	background-color: #9DCEBD; 
	height: 500px;"
}

.ammapDescriptionWindow {
  background-color: #DCDCDC;
  padding: 10px;
  border-radius: 5px;
  font-family: Verdana;
  font-size: 10px;
  opacity: 0.95;
  overflow: auto;
}

.ammapDescriptionTitle {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.col-md-6 {
	margin-bottom: 20px;
	font-size: .9em;
	max-height: 300px;
	overflow:auto;
}


.list-group-item {
	text-align: center;
	border: none;
	border-bottom: solid 1px #DCDCDC;
	border-top: solid 1px #DCDCDC;
}

#citiesList {
	z-index: 1000000;
	position: absolute;
	border: solid 2px #DCDCDC;
	background-color: #DCDCDC;
	border-radius: 15px;
	opacity: .7;
	margin-top: 5px;
}


#keyWord{
	border: solid .5px #e4d393;
	border-radius: 5px;
	padding: 3px;
	height: 23px;
	font-size: .8em;
}

#submit{
	border: solid .5px #8b8b8b;
	border-radius: 5px;
	height: 25px;
	background-color: #e6e6e6;
	font-size: .8em;
	color: #8b8b8b
}
input::-webkit-calendar-picker-indicator {
  display: none;
}


footer{
	background-color: #5F8F75;
	font-size: .6em;
	text-align: center;
	height: 60px;
	padding-top: 20px
	
}
thead{
	font-weight: 800;
}